@using Microsoft.CST.OAT.Utils;

<div class="row">
    <div class="col">
        <input class="form-control" id="@id" type="text" @bind="CurrentInputKey" />
    </div><div class="col">
        <input class="form-control" type="text" @bind="CurrentInputValue" />
    </div><div class="col">
        <button class="btn-block" @onclick="AddEntry">Add @buttonText</button>
    </div>
</div>
    @if (SubProperty?.Count > 0)
    {
<div class="row">
    <div class="col">
        <select class="form-control" @bind="SelectedKey">
            @foreach (var key in SubProperty.Keys)
            {
                <option value="@key">@key : @SubProperty[key]</option>
            }
        </select>
    </div>
    <div class="col-4">
        <button @onclick="RemoveEntry">Remove @buttonText</button>
    </div>
</div>        
    }

    @code {
    [Parameter]
        public object? Object { get; set; }

        [Parameter]
        public string? SubPath { get; set; }

        [Parameter]
        public string buttonText { get; set; } = "KVP";

        [Parameter]
        public string id { get; set; } = string.Empty;

        string SelectedKey { get; set; } = string.Empty;

        string CurrentInputKey { get; set; } = string.Empty;

        string CurrentInputValue { get; set; } = string.Empty;

        void RemoveEntry()
        {
            SubProperty?.Remove(SelectedKey);
        }

        void AddEntry()
        {
            if (SubProperty is null)
            {
                SubProperty = new Dictionary<string, string>();
            }
            SubProperty[CurrentInputKey] = CurrentInputValue;
            CurrentInputKey = string.Empty;
            CurrentInputValue = string.Empty;
        }

        public Dictionary<string, string>? SubProperty
        {
            get
            {
                if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is Dictionary<string, string> val)
                {
                    return val;
                }
                return null;
            }
            set
            {
                Helpers.SetValueByPropertyOrFieldName(Object, SubPath, value);
            }
        }
    }
