@using Microsoft.CST.OAT.Utils;
@using Serilog;
@using System.Reflection

@if (!isDisabled)
{
    <div class="row">
        <div class="col underline">Key : @dictionaryKeyType?.GetFriendlyName()</div>
        <div class="col underline">Value : @dictionaryValueType?.GetFriendlyName()</div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            @if (!Helpers.IsBasicType(dictionaryKeyType))
            {
                <ScaffoldInput id="@IdForKey" Object="@this" SubPath="ScaffoldedKeyObject" onChangeAction="onChangeAction" />
            }
            else
            {
                <PropertyInput id="@IdForKey" Object="@this" SubPath="KeyObject" type="dictionaryKeyType" onChangeAction="onChangeAction" />
            }
        </div>
        <div class="col">
            @if (!Helpers.IsBasicType(dictionaryValueType))
            {
                <ScaffoldInput id="@IdForValue" Object="@this" SubPath="ScaffoldedValueObject" onChangeAction="onChangeAction" />
            }
            else
            {
                <PropertyInput id="@IdForValue" Object="@this" SubPath="ValueObject" type="dictionaryValueType" onChangeAction="onChangeAction" />
            }
        </div>
        <div class="col">
            <button class="btn-block" @onclick="AddEntry">Add @buttonText</button>
        </div>
    </div>
}

@if (SubProperty?.Count > 0)
{
    <div class="row">
        <div class="col-2 underline">
            <span>Key : @dictionaryKeyType?.GetFriendlyName()</span>
        </div>
        <div class="col">
            <select class="form-control" @bind="SelectedKey">
                @for (int i = 0; i < Keys.Count; i++)
                {
                    <option value="@i">@Keys[i]</option>
                }
            </select>
        </div>
        <div class="col-4">
            <button @onclick="RemoveEntry" disabled="@NoKeys">Remove @buttonText</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 underline">
            <span>Value : @dictionaryValueType?.GetFriendlyName()</span>
        </div>
        <div class="col">
            @if (Keys.Count > 0)
            {
                SelectedKey = Math.Min(Keys.Count - 1, SelectedKey);
                if (Keys[SelectedKey] is { } key)
                {
                    SelectedValueObject = SubProperty[key];
                    <PropertyInput id="@SelectedObjectId" Object="@this" SubPath="SelectedValueObject" type="dictionaryValueType" isDisabled="@isDisabled" onChangeAction="onChangeAction" />
                }
                else
                {
                    SelectedValueObject = null;
                }
            }
        </div>
    </div>        
}

@code {
    dynamic? selectedValueObject;

    public object? SelectedValueObject 
    {
        get
        {
            return selectedValueObject;
        }
        set
        {
            selectedValueObject = value;
            if (SubProperty is { } && Keys[SelectedKey] is { } NotNullKey)
            {
                SubProperty[NotNullKey] = selectedValueObject;
            }
        } 
    }

    string IdForKey => $"{id}.KeyInput";
    string IdForValue => $"{id}.ValueInput";

    public Scaffold? ScaffoldedValueObject { get; set; }

    public object? ValueObject { get; set; }

    public Scaffold? ScaffoldedKeyObject { get; set; }

    public object? KeyObject { get; set; }

    [Parameter]
    public object? Object { get; set; }

    [Parameter]
    public string? SubPath { get; set; }

    [Parameter]
    public string buttonText { get; set; } = "Dictionary Key And Value";

    [Parameter]
    public string id { get; set; } = string.Empty;

    [Parameter]
    public Action onChangeAction { get; set; } = () => { };
    
    [Parameter]
    public Type? dictionaryType { get; set; }

    [Parameter]
    public bool isDisabled { get; set; }

    public Type? dictionaryValueType => (dictionaryType?.GetGenericArguments() is argsList && argsList.Any()) ? argsList[1] : null;

    public Type? dictionaryKeyType => (dictionaryType?.GetGenericArguments() is argsList && argsList.Any()) ? argsList[] : null;

    string SelectedObjectId { get { return SubPath is null ? string.Empty : $"{SubPath}.SelectedKeyDictionaryObjectObject"; } }

    bool NoKeys => Keys.Count == 0;

    int SelectedKey 
    { 
        get; 
        set; 
    }

    System.Collections.IList Keys { get; set; } = new List<object>();

    void RemoveEntry()
    {
        if (SelectedKey < Keys.Count)
        {
            if (Keys[SelectedKey] is { } obj)
            {
                SubProperty?.Remove(obj);
            }
        }
        OnInitialized();    
        onChangeAction.Invoke();
    }

    void AddEntry()
    {
        if (SubProperty is null)
        {
            SubProperty = Helpers.CreateDictionary(dictionaryKeyType, dictionaryValueType);
        }
        if (SubProperty is not null)
        {
            dynamic? KeyValue = null;
            dynamic? ValueValue = null;

            if (Helpers.IsBasicType(dictionaryKeyType))
            {
                KeyValue = KeyObject;
            }
            else
            {
                KeyValue = ScaffoldedKeyObject?.Construct();
            }

            if (Helpers.IsBasicType(dictionaryValueType))
            {
                ValueValue = ValueObject;
            }
            else
            {
                ValueValue = ScaffoldedValueObject?.Construct();
            }

            if (KeyValue is not null)
            {
                SubProperty[KeyValue] = ValueValue;
            }
        }
        
        OnInitialized();
        onChangeAction.Invoke();
    }

    protected override void OnInitialized()
    {
        if (dictionaryValueType is null || dictionaryKeyType is null)
        {
            return;
        }

        if (Helpers.IsBasicType(dictionaryValueType))
        {
            ValueObject = Helpers.GetDefaultValueForType(dictionaryValueType);
        }
        else
        {
            var allowedConstructors = Helpers.GetConstructors(dictionaryValueType);
            if (allowedConstructors.Any()){
                var constructorToUse = allowedConstructors[0];
                ScaffoldedValueObject = new Scaffold(constructorToUse);
            }
        }
        
        if (Helpers.IsBasicType(dictionaryKeyType))
        {
            KeyObject = Helpers.GetDefaultValueForType(dictionaryKeyType);
        }
        else
        {
            var allowedConstructors = Helpers.GetConstructors(dictionaryKeyType);
            if (allowedConstructors.Any()){
                var constructorToUse = allowedConstructors[0];
                ScaffoldedKeyObject = new Scaffold(constructorToUse);
            }
        }

        Keys.Clear();
        foreach(var key in SubProperty?.Keys ?? Array.Empty<object>())
        {
            Keys.Add(key);
        }
        
        base.OnInitialized();
    }

    public System.Collections.IDictionary? SubProperty
    {
        get
        {
            if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is System.Collections.IDictionary idict)
            {
                return idict;
            }
            return null;
        }
        set
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, value);
            onChangeAction.Invoke();
        }
    }
}