@inherits BaseInput;
@using Microsoft.CST.OAT.Utils;

<div class="row">
    <div class="col">
        <select class="form-control" id="@id" @bind="AddEnumIndex" data-input-type="enum-input">
            @for (int i = 0; i < values.Count; i++)
            {
                <option value="@i">@values[i].ToString()</option>
            }
        </select>  
    </div>
    <div class="col-4">
        <button @onclick="AddData">Add @buttonText</button>
    </div>
</div>
@if (SubProperty?.Count > 0)
{
    <div class="row">
        <div class="col">
            <select class="form-control" @bind="SelectedIndex">
                @for (int i = 0; i < SubProperty.Count; i++)
                {
                    <option value="@i">@SubProperty[i]</option>
                }
            </select>
        </div>
        <div class="col-4">
            <button @onclick="RemoveData">Remove @buttonText</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public string buttonText { get; set; } = "Enum";

    [Parameter]
    public Type? enumType { get; set; }

    int AddEnumIndex { get; set; }

    int SelectedIndex { get; set; }

    string CurrentInput { get; set; } = string.Empty;

    List<Enum> values
    {
        get
        {
            var vals = new List<Enum>();
            if (enumType is null)
            {
                return vals;
            }

            foreach(var value in Enum.GetValues(enumType))
            {
                vals.Add((Enum)value);
            }
            return vals;
        }
    }

    void AddData(EventArgs eventArgs)
    {
        if (SubProperty == null)
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, new List<string>());
        }
        SubProperty?.Add(values[AddEnumIndex]);
    }

    void RemoveData(EventArgs eventArgs)
    {
        SubProperty?.RemoveAt(SelectedIndex);
    }

    public System.Collections.IList? SubProperty
    {
        get
        {
            if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is System.Collections.IList val && val.GetType().GetGenericArguments()[0].IsEnum)
            {
                return val;
            }
            return null;
        }
        set
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, value);
            onChangeAction.Invoke();
        }
    }
}