@using Microsoft.CST.OAT.Utils;
@using System.Reflection
@using Serilog
@using System.Collections

@if (SubProperty is not null)
{
    @if (!SubProperty.IsFixedSize && !isDisabled)
    {
        <div class="row">
            <div class="col">
                @if (NonScaffoldObject is not null)
                {
                    <PropertyInput Object="@this" SubPath="NonScaffoldObject" type="@itemType" id="@NonScaffoldId" onChangeAction="onChangeAction"/>
                }
                else
                {
                    <ScaffoldInput Object="@this" SubPath="ScaffoldedObject" id="@ScaffoldId" onChangeAction="onChangeAction" />
                }
            </div>
            <div class="col-4">
                <button @onclick="AddData">Add @itemType</button>
            </div>
        </div>
    }

    @if (SubProperty?.Count > 0)
    {
        <div class="row">
            <div class="col">
                <select class="form-control" @bind="SelectedIndex">
                    @for (int i = 0; i < SubProperty.Count; i++)
                    {
                        <option value="@i">@SubProperty[i]</option>
                    }
                </select>
            </div>
            @if (!SubProperty.IsFixedSize && !isDisabled)
            {
                <div class="col-4">
                    <button @onclick="RemoveData">Remove @buttonText</button>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-1 underline">
                Item @SelectedIndex:
            </div>
            <div class="col">
                <PropertyInput id="@id" Object="@Object" SubPath="@PathFromIndex" type="itemType" isDisabled="@isDisabled" onChangeAction="onChangeAction" />
            </div>
        </div>
    }
}

@code {
    public Scaffold? ScaffoldedObject { get; set; }

    public object? NonScaffoldObject { get; set; }

    [Parameter]
    public object? Object { get; set; }

    [Parameter]
    public string? SubPath { get; set; }

    [Parameter]
    public string buttonText { get; set; } = "Object";

    [Parameter]
    public Type? listType { get; set; }

    [Parameter]
    public string id { get; set; } = string.Empty;

    [Parameter]
    public Action onChangeAction { get; set; } = () => { };
    
    [Parameter]
    public bool isDisabled { get; set; }
    
    public Type? itemType => listType?.GetGenericArguments()[0];

    public string PathFromIndex => $"{SubPath}.{SelectedIndex}";

    int _selectedIndex = 0;

    int SelectedIndex
    {
        get => _selectedIndex;
        set
        {
            _selectedIndex = value;
            this.StateHasChanged();
        }
    }

    string ScaffoldId => $"{id}-scaffoldInput";
    string NonScaffoldId => $"{id}-nonScaffoldInput";

    void AddData(EventArgs eventArgs)
    {
        if (SubProperty is null)
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, Helpers.GetDefaultValueForType(listType));
        }
        if (SubProperty is not null)
        {
            if (NonScaffoldObject is not null)
            {
                SubProperty.Add(NonScaffoldObject);
            }
            else
            {
                var constructed = ScaffoldedObject?.Construct();
                if (constructed is not null)
                {
                    SubProperty.Add(constructed);
                }
            }
            SelectedIndex = SubProperty.Count - 1;
        }
        Reset();
    }

    private void Reset()
    {
        var getDefault = Helpers.GetDefaultValueForType(itemType);
        if (getDefault is not null)
        {
            NonScaffoldObject = getDefault;
        }
        else
        {
            if (itemType is null)
            {
                return;
            }
            var allowedConstructors = Helpers.GetConstructors(itemType);

            
            if (allowedConstructors.Any())
            {
                var constructorToUse = allowedConstructors[0];
                ScaffoldedObject = new Scaffold(constructorToUse);
            }
        }
        onChangeAction.Invoke();
    }

    protected override void OnInitialized()
    {
        Reset();
        base.OnInitialized();
    }

    void RemoveData(EventArgs eventArgs)
    {
        SubProperty?.RemoveAt(SelectedIndex);
        SelectedIndex = SubProperty.Count - 1;
        onChangeAction.Invoke();
    }

    public System.Collections.IList? SubProperty
    {
        get
        {
            if (Helpers.GetValueByPropertyOrFieldName(Object, SubPath) is System.Collections.IList val)
            {
                return val;
            }
            return null;
        }
        set
        {
            Helpers.SetValueByPropertyOrFieldName(Object, SubPath, value);
            onChangeAction.Invoke();
        }
    }
}