@inherits BaseInput;
@using Microsoft.CST.OAT.Utils;

<div class="object-input">
@switch (itemState)
{
    case ItemState.Expanded:
        <button class="btn btn-primary" type="button" @onclick="Collapse">
            <span class="oi oi-chevron-top mx-3"></span>
            <span>@SubProperty?.GetType().GetFriendlyName()</span>
        </button>
        <div class="object-properties">
            @for (int i = 0; i < Properties.Length; i++)
            {
                if (Properties[i].CanRead)
                {
                    var type = Properties[i].PropertyType;
                    var appendedName = AppendNameToPath(Properties[i].Name);
                    var state = Helpers.GetValueByPropertyOrFieldName(Object, appendedName);
                    if (state is not null)
                    {
                        type = state.GetType();
                    }
                    var name = ToName(appendedName, i);
                    <div class="form-group">
                        <label for="@name"><b>@Properties[i].Name</b> : @type.GetFriendlyName()</label>
                        <PropertyInput Object="@Object" SubPath="@appendedName" id="@name" type="@type" isDisabled="@(isDisabled || !Properties[i].CanWrite)" onChangeAction="@onChangeAction"/>
                    </div>
                }
            }
        </div>
        <div class="object-properties">
            @for (int i = 0; i < Fields.Length; i++)
            {
                if (Fields[i].IsPublic)
                {
                    var type = Fields[i].FieldType;
                    var appendedName = AppendNameToPath(Fields[i].Name);
                    var state = Helpers.GetValueByPropertyOrFieldName(Object, appendedName);
                    if (state is not null)
                    {
                        type = state.GetType();
                    }
                    var name = ToName(appendedName, i);
                    <div class="form-group">
                        <label for="@name"><b>@Fields[i].Name</b> : @type.GetFriendlyName()</label>
                        <PropertyInput Object="@Object" SubPath="@appendedName" id="@name" type="@type" isDisabled="@isDisabled" onChangeAction="@onChangeAction"/>
                    </div>
                }
            }
        </div>
        break;
    case ItemState.Collapsed:
        <button class="btn btn-primary" type="button" @onclick="Expand">
            <span class="oi oi-chevron-bottom mx-3"></span>
            <span>@SubProperty?.GetType().GetFriendlyName()</span>
        </button>
        break;
}
</div>

@code {
    [Parameter]
    public bool Collapsable { get; set; }

    enum ItemState
    {
        Expanded,
        Collapsed
    }

    ItemState itemState = ItemState.Expanded;

    private System.Reflection.PropertyInfo[] Properties
    {
        get
        {
            return SubProperty?.GetType().GetProperties() ?? Array.Empty<System.Reflection.PropertyInfo>();
        }
    }

    private System.Reflection.FieldInfo[] Fields
    {
        get
        {
            return SubProperty?.GetType().GetFields() ?? Array.Empty<System.Reflection.FieldInfo>();
        }
    }

    string ToName(string name, int element)
    {
        return $"{id}-{name}-{element}";
    }

    void Expand()
    {
        itemState = ItemState.Expanded;
    }

    void Collapse()
    {
        itemState = ItemState.Collapsed;
    }

    object? SubProperty => Helpers.GetValueByPropertyOrFieldName(Object, SubPath);

    public string AppendNameToPath(string Name)
    {
        if (SubPath is null)
        {
            return Name;
        }
        else
        {
            return $"{SubPath}.{Name}";
        }
    }

    protected override void OnInitialized()
    {
        if (Collapsable)
        {
            itemState = ItemState.Collapsed;
        }
        base.OnInitialized();
    }
}