@using Microsoft.CST.OAT.Utils;

@switch (itemState)
{
    case ItemState.Expanded:
        if (Collapsable)
        {
            @Helpers.GetValueByPropertyOrFieldName(Object, SubPath)?.GetType().FullName
            <button @onclick="Collapse">Collapse</button>
            <br />
        }
        @for (int i = 0; i < Properties.Length; i++)
        {
            var type = Properties[i].PropertyType;
            var appendedName = AppendNameToPath(Properties[i].Name);
            var name = ToName(appendedName, i);
            <label for="@name">@Properties[i].Name</label>
            <PropertyInput Object="@Object" SubPath="@appendedName" id="name" type="@type" />
        }
        @for (int i = 0; i < Fields.Length; i++)
        {
            var type = Fields[i].FieldType;
            var appendedName = AppendNameToPath(Fields[i].Name);
            var name = ToName(appendedName, i);
            <label for="@name">@Fields[i].Name</label>
            <PropertyInput Object="@Object" SubPath="@appendedName" id="name" type="@type" />
        }
        break;
    case ItemState.Collapsed:
        @Helpers.GetValueByPropertyOrFieldName(Object, SubPath)?.GetType().FullName
        <button @onclick="Expand">Expand</button>
        <br />
        break;
}


@code {
    [Parameter]
    public object Object { get; set; }

    [Parameter]
    public string SubPath { get; set; }

    [Parameter]
    public string id { get; set; }

    [Parameter]
    public bool Collapsable { get; set; }

    enum ItemState
    {
        Expanded,
        Collapsed
    }

    ItemState itemState = ItemState.Expanded;

    private System.Reflection.PropertyInfo[] Properties = Array.Empty<System.Reflection.PropertyInfo>();

    private System.Reflection.FieldInfo[] Fields = Array.Empty<System.Reflection.FieldInfo>();

    string ToName(string name, int element)
    {
        return $"{id}-{name}-{element}";
    }

    void Expand()
    {
        itemState = ItemState.Expanded;
    }

    void Collapse()
    {
        itemState = ItemState.Collapsed;
    }

    public string AppendNameToPath(string Name)
    {
        if (string.IsNullOrEmpty(SubPath))
        {
            return Name;
        }
        else
        {
            return $"{SubPath}.{Name}";
        }
    }

    protected override void OnInitialized()
    {
        if (Collapsable)
        {
            itemState = ItemState.Collapsed;
        }
        Properties = Helpers.GetValueByPropertyOrFieldName(Object, SubPath)?.GetType().GetProperties() ?? Array.Empty<System.Reflection.PropertyInfo>();
        Fields = Helpers.GetValueByPropertyOrFieldName(Object, SubPath)?.GetType().GetFields() ?? Array.Empty<System.Reflection.FieldInfo>();
        base.OnInitialized();
    }
}